@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header nav {
    position: relative;
}

header {
    background-color: #FFD9E0;
    font-family: "Comic Sans MS", serif;
    color: white;
    width: 100%;
    height: auto;
    padding: 10px 20px 0 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

/*Cabecera*/
/*Logo*/

.header_logo h1{
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 2rem;
}

.header_logo img{
    width: auto;
    height: 70px;
}

/* Menú Hamburguesa */
header nav ul {
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 217, 224,0.60);
    text-align: unset;
    border-radius: 10px;
}

header nav ul li a {
    display: block;
    padding: 10px;
    color: coral;
    text-decoration: none;
}

header nav ul li a:hover{
    text-decoration: underline;
    color:chocolate
}

.menu-hamburguesa {
    display: flex;
    cursor: pointer;
    font-size: 30px;
    position: relative; /* Asegurar que no salga de la pantalla */
}

.nav-list {
    display: none;
    position: absolute;
    top: 100%;
    right: 1%;
    width: 135px;
    list-style: none;
    padding: 10px 0;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav-list.active {
    display: block;
}

li#Carrito img {
    width: 25px;
}

/* Cuerpo */
.cuerpo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main{
    background-color: #fff5f8;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

    /* Contenedor */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* -------------------- CARRUSEL -------------------- */

.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 615px;
    margin-bottom: 30px;
}

.img_carrusel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-inline: 10px;
}

.img_carrusel img{
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.85);
    width:100%;
    max-width: 767px;
    height: 36rem;
    border-radius: 15px;
    object-fit: cover;
    filter: saturate(175%);
}

.texto{
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(0px);
    margin-bottom: 9px;
    backdrop-filter: blur(20px);
    background-color: rgba(63, 106, 138, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.texto h3{
    text-shadow: 0 0 15px black;
    padding-top: 40px;
    color: white;
    font-weight: 300;
    font-size: 27px;
}

.texto p{
    align-items: center;
    padding: 20px;
    color:white;
    font-size: 0;
    font-weight: 300;
}

.img_carrusel .texto{
    width: 600px;
    height: 100px;
    transition: 1s;
}

.img_carrusel:hover .texto{
    transition: height 1s, transform 1s, background-color 1s;
    transform: translateY(-150px);
    height: max-content;
    background-color: rgba(63, 106, 138, 0.71);
}

.img_carrusel:hover .texto p{
    transition: font-size 0s .2s linear;
    font-size: 23px;
    font-weight: 300;
    text-shadow: 0 0 10px #000000;
    text-align: center;
}

.atras, .adelante{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(124, 117, 117, 0.5);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000;
}
.adelante{
    right: 21%;
}

.atras{
    left: 21%;
}
/*-----------------------------------------*/
/*PuntosInteractivos-Carrusel*/

#puntos {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: -40px;
}

#puntos span {
    font-size: 24px;
    cursor: pointer;
    color: #f7b2d9; 
    transition: transform 0.3s ease, color 0.3s ease;
}

#puntos span.activo {
    color: #ec5ca6;
    transform: scale(1.4);
}

/*-------Logo previo al Catalogo------*/
.vista-previa {
    width: 100%;
    margin: 20px 0;
}

.vista-previa img {
    display:block;
    width: 30%;
    height:auto;
    border-radius: 10px;
    max-width: 500px;
}

/*------------- Catalogo-----------*/

.catalogo{
    width: 100%;
    padding: 2rem;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 10px;
}

.producto {
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width:100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}

.producto img {
    width: 100% ;
    height: 160px;
    border-radius: 8px;
}
.producto p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 5px;
}

.overlay-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px 12px;
    border-radius: 8px;
    opacity: 0;
    transition: 0.3s ease;
    pointer-events: none;
    text-align: center;
    font-size: 0.8em;
}

.producto:hover .overlay-text {
    opacity: 1;
}

.producto button {
    background-color: #d15b5b;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    align-content: baseline;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.producto button:hover {
    background-color: #f68cef;
}

/* -------------------- MODAL -------------------- */

.modal {
    display: none;
    position: fixed;
    z-index: 1000; /* Modal tiene un z-index alto para estar encima del header */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal.show {
    display: block;
    opacity: 1;
    animation: slide-down 0.5s ease;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 2px solid #fff;
    width: 90%;
    max-width: 730px;
    border-radius: 10px;
    color: #000;
    position: relative;
    overflow: auto;
    max-height: 90vh;
    text-align: center; /* Alinea todo el contenido al centro */
    animation: fadeIn 0.5s ease-out; /* Animación para el contenido */
}

/* Asegurarse de que el título esté centrado */
.modal-content h2 {
    margin: 0; /* Elimina márgenes innecesarios */
    font-size: 1.5em; /* Ajusta el tamaño del título si es necesario */
    
}

.close-btn {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s ease;
}

.close-btn:hover {
    color: red;
}

.modal-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    min-height: 300px;
    margin: 0 auto;
    text-align: center;
    
    
}

.modal-body img {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: contain;
    
}

.modal-buttons{
    display:flex;
    align-items: center;
    margin-top: 15px;
    gap:15px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.description {
    color:black;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    border: 1px solid #555;
    line-height: 1.6;
    word-wrap: break-word;
    text-align: justify;
    margin-top: 20px;
}

.btn-details, .btn-car {
    padding: 10px 20px;
    background-color: #484b4e;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-car {
    text-decoration: none;
}

.btn-details:hover, .btn-car:hover {
    background-color: #9ca0a3;
}

body.modal-open {
    overflow: hidden;
}

/*Carro*/
.carrito {
    padding: 1.3rem;
    background: #fff5f8;
    border-top: 2px dashed #ccc;
    text-align: center;
}

.carrito ul {
    list-style: none;
    padding: 0;
}

/* Footer */
footer {
    background-color: #F2D4D7;
    color: grey;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer p{
    padding: 4px;
}

footer a {
    color: gray;
    text-decoration: none;
    margin: 0 10px;
    padding: 4px
}

footer a:hover {
    text-decoration: underline;
}

footer img{
    width: 20px;
    margin-right: 1px;
}

/* Diseño Responsivo */
.container{
    max-width: 1120px;
    padding:0 20px;
}

/*Responsivo*/
@media screen and (max-width: 1280px){
    
    /*-------------------- CARRUSEL -------------------- */
    .carrusel{
        height: 595px;
        margin-bottom: 30px;
    }
 
    .img_carrusel img{
        height: 550px;
    }
}

@media screen and (max-width: 896px) {

    header{
        height: 95px;
    }
    
    .header_logo img{
        width: 80px;
    }
    
    .header_logo h1{
        font-size: 30px;
    }

    /*-------------------- CARRUSEL -------------------- */
    .carrusel{
        height:490px;
    }
    
    .img_carrusel img{
        height: 450px;
    }

    .texto p{
        padding: 10px;
    }

    .img_carrusel .texto{
        height: 75px;
    }
}

@media screen and (max-width: 768px) {

    /*-------------------- CARRUSEL -------------------- */

    .carrusel{
        height: 500px;
        margin-bottom: 25px;
    }
    
    .img_carrusel img{
        height: 450px;
    }

    .img_carrusel .texto{
        width: calc(100% - 5rem);
        height: 75px;
    }

    .img_carrusel:hover .texto{
        width: calc(100% - 5rem);
        transform: translateY(10px);
    }
    
    /*--------------------- Catalógo ----------------*/
    .productos-grid {
        padding: 15px 0px;
    }

    /*Modal*/
    .modal-content {
        width: 95%;
        max-width: 95%;
        margin: 30px auto;
        padding: 15px;
        border-radius: 10px;
        position: relative;
    }

    .modal-body {
        flex-direction: column;
        gap: 10px;
    }

    .modal-body img {
        max-width: 90%;
        height: auto;
    }

    .info-container {
        padding: 10px;
    }

    .description {
        padding: 15px;
        font-size: 0.9em;
    }

    .btn-details {
        margin: 10px auto 0 auto;
    }

    .modal-content .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 25px;
        color: #fff;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .modal-content .close:hover {
        color: #f00;
    }

}

@media screen and (max-width: 480px) {
    
    .header_logo h1{
        margin-left: 0px;
        font-size: 23px;
    }

    /*Menu-Hamburgueza*/

    .menu-hamburguesa {
        margin-left: 91px;
    }

    /*-------------------- CARRUSEL -------------------- */
    .carrusel{
        height: 385px;
    }
    .img_carrusel img{
        height: 350px;
    }

    .img_carrusel .texto{
        height: 75px;
    }

    .img_carrusel:hover .texto{
        transform: translateY(2px);
    }

    .img_carrusel:hover .texto p{
        font-size: 20px;
        text-align: center;
    }
    /*--------------------- Catalógo ----------------*/
    
    .productos-grid {
        padding: 10px 0px;
    }
}
