/* Estilos generales */
+ {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div .espacio {
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header nav {
    position: relative;
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
header {
    background-color: #FFD9E0;
    font-family: "Comic Sans MS", serif;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:70px;
    z-index: 1;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    box-sizing: border-box;
}

/*Cabecera*/
/*Logo*/
.header_logo h1{
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
}

.header_logo img{
    width: 60px;
    height: auto;
}

/*Cabecera Derecha*/

.header-middle-icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 2px;
    /* padding-right: 10rem; */
}
.header-middle-icon-item a svg{
    fill:#fff;
    width:20px;
}

.header-middle-icon-item a:last-child{
    margin:0;
}

.header-middle-icon-item{
    margin-right:20px;
    padding-right:20px;
    border-right:1px solid #fff;
}

.header-middle-icon-item:last-child{
    margin-right:0px;
    padding-right:0px;
    border-right:0;
}

.header-middle-icon-item img{
    width:33px;
}

.header-middle-icon-item span{
    margin-left:7px;
    color:#fff;
}

.header-middle-icon-item{
    display: flex;
    align-items: center;
}

.header-middle-icon-item a{
    display: flex;
    align-items: center;
    color:#fff;
    margin-right:15px;
}

/* Cuerpo */

/* Sección de Suscripción */
#suscripcion {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

#suscripcion h3 {
    font-size: 1.5em;
}

#suscripcion .cta {
    background-color: #28a745;
}

/* Footer */
footer {
    background-color: #F2D4D7;
    color: grey;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer a {
    color: gray;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer img{
    width: 20px;
    margin-right: 1px;
}

/* Diseño Responsivo */
.container{
    max-width: 1120px;
    padding:0 20px;
}

@media screen and (min-width: 580px) {
    .container{
        padding:0 45px;
    }
}

@media screen and (min-width: 1280px) {
    .container{
        padding:0 15px;
    }
}
@media screen and (max-width: 768px) {
    .contenedor-libros {
        grid-template-columns: repeat(2, 1fr);
    }

    header nav ul {
        flex-direction: column;
        display: none;
        width: 100%;
        background-color: #ce1c1a;
        text-align: center;
    }

    header nav ul li {
        margin: 10px 0;
    }

    header nav ul li a {
        display: block;
        padding: 10px;
    }

    .nav-list.active {
        display: flex;
    }
}


@media screen and (max-width: 480px) {
    .contenedor-libros {
        grid-template-columns: 1fr;
    }

    .libro img {
        width: 90%;
    }

}
