@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header nav {
    position: relative;
}

header {
    background-color: #FFD9E0;
    font-family: "Comic Sans MS", serif;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    padding: 0px 10px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

/*Cabecera*/
/*Logo*/

.header_logo{
    margin: 10px 0px;
}

.header_logo h1{
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 2rem;
}

.header_logo img{
    width: auto;
    height: 80px;
}

/* Menú Hamburguesa */
header nav ul {
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 217, 224,0.60);
    text-align: unset;
    border-radius: 10px;
}

header nav ul li a {
    display: block;
    padding: 10px;
    color: coral;
    text-decoration: none;
}

header nav ul li a:hover{
    text-decoration: underline;
    color:chocolate
}

.menu-hamburguesa {
    display: flex;
    cursor: pointer;
    font-size: 30px;
    margin-left: 105px; /* Mover hacia la izquierda */
    position: relative; /* Asegurar que no salga de la pantalla */
}

.nav-list {
    display: none;
    position: absolute;
    top: 100%; /* Aparece debajo del botÃ³n */
    width: 135px;
    list-style: none;
    padding: 10px 0;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav-list.active {
    display: block;
}

li#Carrito img {
    width: 25px;
}

/* Cuerpo */
.cuerpo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main{
    background-color: #fff5f8;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

    /* Contenedor */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* -------------------- CARRUSEL -------------------- */

.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 615px;
    margin-bottom: 30px;
}

.img_carrusel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-inline: 10px;
}

.img_carrusel img{
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.85);
    width:100%;
    height: 36rem;
    border-radius: 15px;
    object-fit: cover;
    filter: saturate(175%);
}

.texto{
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(0px);
    margin-bottom: 9px;
    backdrop-filter: blur(20px);
    background-color: rgba(63, 106, 138, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.texto h3{
    text-shadow: 0 0 15px black;
    padding-top: 40px;
    color: white;
    font-weight: 300;
    font-size: 27px;
}

.texto p{
    align-items: center;
    padding: 20px;
    color:white;
    font-size: 0;
    font-weight: 300;
}

.img_carrusel .texto{
    width: 600px;
    height: 100px;
    transition: 1s;
}

.img_carrusel:hover .texto{
    transition: height 1s, transform 1s, background-color 1s;
    transform: translateY(-150px);
    height: 300px;
    background-color: rgba(63, 106, 138, 0.71);
}

.img_carrusel:hover .texto p{
    transition: font-size 0s .2s linear;
    font-size: 23px;
    font-weight: 300;
    text-shadow: 0 0 10px #000000;
}
/*-----------------------------------------*/
/*PuntosInteractivos-Carrusel*/

#puntos {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: -40px;
}

#puntos span {
    font-size: 24px;
    cursor: pointer;
    color: #f7b2d9; 
    transition: transform 0.3s ease, color 0.3s ease;
}

#puntos span.activo {
    color: #ec5ca6;
    transform: scale(1.4);
}

/*-------Logo previo al Catalogo------*/
.vista-previa {
    width:100%;
    margin-top: 20px;
    padding-inline: 300px;
    text-align: center;
}

.vista-previa img {
    display:block;
    width:100%;
    height:auto;
    border-radius: 10px;
}

/*------------- Catalogo-----------*/

.catalogo{
    padding: 2rem;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px 10px;
}

.producto {
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width:100%;
}

.producto img {
    width: 100%;
    border-radius: 8px;
}

.producto h3 {
    margin: 0.5rem 0;
}

.producto p {
    font-weight: bold;
    color: #b44e4e;
}

.producto button {
    background-color: #d15b5b;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    align-content: baseline;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.producto button:hover {
    background-color: #f68cef;
}

/*Carro*/

.carrito {
    padding: 1.3rem;
    background: #fff5f8;
    border-top: 2px dashed #ccc;
    text-align: center;
}

.carrito ul {
    list-style: none;
    padding: 0;
}

/* Footer */
footer {
    background-color: #F2D4D7;
    color: grey;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer a {
    color: gray;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer img{
    width: 20px;
    margin-right: 1px;
}

/* Diseño Responsivo */
.container{
    max-width: 1120px;
    padding:0 20px;
}

/*Responsivo*/
@media screen and (max-width: 1280px){
    
    /*-------------------- CARRUSEL -------------------- */
    .carrusel{
        height: 595px;
        margin-bottom: 30px;
    }
 
    .img_carrusel img{
        height: 550px;
    }

    /*--------------------- Catalógo ----------------*/
    .productos-grid {
        padding: 20px 15px;
    }
}

@media screen and (max-width: 960px){

    .header_logo h1{
        margin-left:10px;
    }

    .vista-previa {
    padding-inline: 260px;
    }
    
    .productos-grid{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 860px) {

    header{
        height: 95px;
    }
    
    .header_logo img{
        width: 80px;
    }
    
    .header_logo h1{
        font-size: 30px;
    }

    /*-------------------- CARRUSEL -------------------- */
    .carrusel{
        height:490px;
    }
    
    .img_carrusel img{
        height: 450px;
    }

    .texto p{
        align-items: center;
        padding: 10px;
    }

    .img_carrusel .texto{
        width: 450px;
        height: 70px;
    }

    .img_carrusel:hover .texto{
        transform: translateY(30px);
        height: 120px;
        width: 450px;
    }
    
    /*--------------------- Prev-Catalógo(img) ----------------*/
    .vista-previa {
        padding-inline: 240px;
    }
    
    /*--------------------- Catalógo ----------------*/
    .productos-grid {
        padding: 20px 05px;
    }
}

@media screen and (max-width: 768px) {

    /*-------------------- CARRUSEL -------------------- */

    .carrusel{
        height: 500px;
        margin-bottom: 25px;
    }
    
    .img_carrusel img{
        height: 450px;
    }

    .img_carrusel .texto{
        width: 345px;
        height: 75px;
    }

    .img_carrusel:hover .texto{
        transform: translateY(10px);
        height: 150px;
    }
    
    /*--------------------- Prev-Catalógo(img) ----------------*/
    .vista-previa {
        padding-inline: 200px;
    }
    
    /*--------------------- Catalógo ----------------*/
    .productos-grid {
        padding: 15px 0px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 480px) {
    
    .header_logo h1{
        margin-left: 0px;
        font-size: 23px;
    }

    /*Menu-Hamburgueza*/

    .menu-hamburguesa {
        pointer-events:visible;
        margin-left: 91px;
    }

    /*-------------------- CARRUSEL -------------------- */
    .carrusel{
        height: 385px;
    }
    .img_carrusel img{
        height: 350px;
    }

    .img_carrusel .texto{
        width: 265px;
        height: 75px;
    }

    .img_carrusel:hover .texto{
        transform: translateY(2px);
        height: 140px;
        width: 265px;
    }

    .img_carrusel:hover .texto p{
        font-size: 20px;
        text-align: center;
    }
    /*--------------------- Catalógo ----------------*/

    .vista-previa {
    padding-inline: 60px;
    }
    
    .productos-grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 0px;
    }
}

@media screen and (max-width:391px){
    .header_logo h1{
        font-size: 20px;
    }
}